body,button{
    color:white;
    background-color: black;
}
.body1,.body2,.body3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
h1{
    font-size: 4em;
}

p{
    margin-top: 40vh;
    font-size: 3.90em;
    display: flex;
}
.body2{
    display: none;
}
.body3{
    display: none;
}
.body4{
    display: none;
}

@keyframes swip_right1 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
    
}

@keyframes swip_right2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
    
}
